//主页背景颜色 淡灰色
$my-main-Color:#F5F5F5;
//底部背景颜色
$my_backgroundColor:#333333;
//字体颜色
$my_fontColor:#C0C0C0;
//小标题字体颜色
$my_t_fontColor:#A0A0A0;
//字体大小
$my_fontSize:12px;
//头部鼠标悬浮字体颜色
$my_hoverColorcolor:#1CC19B;
//鼠标悬停下划线颜色
$my-hoverUnderline:#00b081;
 $my_hoverColorcolor:#3DC681;
// 价格颜色
$my_priceColor:#ff7467;
// 底部特色小字体颜色
$my_footer_color:#959595;
//机酒自由行中字体的颜色
$my_jijiu_fontcolor:#fff;
// 机酒众自由行边框颜色
$my_border_Color:#ececec;
//自由行最后一个列表 查看更多背景色
$my_ziyouxing_bgColor:#33cea0;
// 自由行里最后一个列表,渐变色
$my_ziyouxing_gradient_color1:#61d482;
$my_ziyouxing_gradient_color2:#15cbb3;

